<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3642,1367},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,3187},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2732},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2277},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1822},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1367},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3642,912},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,3187},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2732},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2277},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1822},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1367},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,912},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3642,457},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,3187},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2732},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2277},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1822},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1367},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,912},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,457},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3642,2},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3187},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2732},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2277},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,453}}</string>
                <key>sourceSize</key>
                <string>{450,453}</string>
            </dict>
            <key>speaking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,3187},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2732},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2277},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1822},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3187,1358},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,1358},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2277,1358},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1358},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,3642},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3187,906},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,906},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2277,906},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,906},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,906},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,3642},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3187,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2277,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,454},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,3642},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3187,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2277,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
            <key>speaking_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3642},{453,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,450}}</string>
                <key>sourceSize</key>
                <string>{453,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girlFrames.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc72d718f2a856539e8a4c4c891bd59d$</string>
            <key>textureFileName</key>
            <string>girlFrames.png</string>
        </dict>
    </dict>
</plist>
