<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>image_Australia.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_China.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_Egypt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_England.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_France.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,933},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_India.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,311},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_Japan.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,311},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_Korea.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,622},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_Thailand.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,933},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>image_USA.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{380,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,310}}</string>
        <key>sourceSize</key>
        <string>{380,310}</string>
      </dict>
      <key>title_Australia.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,622},{170,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,46}}</string>
        <key>sourceSize</key>
        <string>{170,46}</string>
      </dict>
      <key>title_China.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,997},{84,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,46}}</string>
        <key>sourceSize</key>
        <string>{84,46}</string>
      </dict>
      <key>title_Egypt.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,669},{87,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,46}}</string>
        <key>sourceSize</key>
        <string>{87,46}</string>
      </dict>
      <key>title_England.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,856},{85,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,46}}</string>
        <key>sourceSize</key>
        <string>{85,46}</string>
      </dict>
      <key>title_France.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,716},{86,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,45}}</string>
        <key>sourceSize</key>
        <string>{86,45}</string>
      </dict>
      <key>title_India.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,950},{85,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,46}}</string>
        <key>sourceSize</key>
        <string>{85,46}</string>
      </dict>
      <key>title_Japan.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,1044},{84,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,46}}</string>
        <key>sourceSize</key>
        <string>{84,46}</string>
      </dict>
      <key>title_Korea.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,903},{85,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,46}}</string>
        <key>sourceSize</key>
        <string>{85,46}</string>
      </dict>
      <key>title_Thailand.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,762},{86,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,46}}</string>
        <key>sourceSize</key>
        <string>{86,46}</string>
      </dict>
      <key>title_USA.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,809},{85,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,46}}</string>
        <key>sourceSize</key>
        <string>{85,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>countryicon.png</string>
      <key>textureFileName</key>
      <string>countryicon.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>