<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Badge_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,1097},{198,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,207}}</string>
        <key>sourceSize</key>
        <string>{198,207}</string>
      </dict>
      <key>Badge_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,582},{361,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{361,273}}</string>
        <key>sourceSize</key>
        <string>{361,273}</string>
      </dict>
      <key>Badge_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{365,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{365,250}}</string>
        <key>sourceSize</key>
        <string>{366,251}</string>
      </dict>
      <key>Badge_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,833},{365,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{365,250}}</string>
        <key>sourceSize</key>
        <string>{366,251}</string>
      </dict>
      <key>Badge_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{383,266}}</string>
        <key>sourceSize</key>
        <string>{383,266}</string>
      </dict>
      <key>Badge_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,563},{360,293}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,293}}</string>
        <key>sourceSize</key>
        <string>{360,293}</string>
      </dict>
      <key>Badge_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,267},{360,295}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,295}}</string>
        <key>sourceSize</key>
        <string>{360,295}</string>
      </dict>
      <key>Badge_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{377,314}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{377,314}}</string>
        <key>sourceSize</key>
        <string>{377,314}</string>
      </dict>
      <key>Badge_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,0},{261,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,207}}</string>
        <key>sourceSize</key>
        <string>{261,207}</string>
      </dict>
      <key>Badge_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,1097},{285,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{285,207}}</string>
        <key>sourceSize</key>
        <string>{285,207}</string>
      </dict>
      <key>Badge_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{305,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,236}}</string>
        <key>sourceSize</key>
        <string>{305,236}</string>
      </dict>
      <key>Badge_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,857},{290,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,239}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>Badge_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,237},{290,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,239}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>Badge_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{315,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{315,246}}</string>
        <key>sourceSize</key>
        <string>{315,246}</string>
      </dict>
      <key>Badge_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1084},{361,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{361,226}}</string>
        <key>sourceSize</key>
        <string>{361,226}</string>
      </dict>
      <key>Badge_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,856},{361,267}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{361,267}}</string>
        <key>sourceSize</key>
        <string>{361,267}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rankicon.png</string>
      <key>textureFileName</key>
      <string>rankicon.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>