#text {
    color: var(--color-normal-contrast-weakest);
    margin: auto;
    width: 180px;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    margin: 0;
}

.toolbar {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.input-group {
    display: flex;
    gap: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}